<!-- app/views/admin/event_submissions/edit.html.erb -->
<h1>Edit Event</h1>
<%= form_with model: @event, url: admin_event_submission_path(@event), local: true do |form| %>
  <div>
    <%= form.label :validated %>
    <%= form.check_box :validated %>
  </div>
  <div>
    <%= form.label :reviewed %>
    <%= form.check_box :reviewed %>
  </div>
  <div>
    <%= form.submit 'Save' %>
  </div>
<% end %>
<%= link_to 'Back', admin_event_submission_path(@event) %>
